@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 18 18 18;
  --surface: 30 30 30;
  --primary: 187 134 252;
  --secondary: 3 218 198;
  --error: 207 102 121;
  --on-background: 225 225 225;
  --on-surface: 255 255 255;
  --on-primary: 0 0 0;
  --on-secondary: 0 0 0;
  --on-error: 0 0 0;
}

body {
  @apply bg-background text-onBackground;
}
